@font-face {
    font-family: montserrat-regular;
    src: url('../../../public/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: montserrat-semi-bold;
    src: url('../../../public/montserrat/Montserrat-SemiBold.ttf');
}