.text-white {
    color: $white;
}

.text-brown {
    color: $brown-100;
}

.text-gray {
    color: $gray-100;
}

.text-pastel-orange {
    color: $pastel-orange;
}

.text-red {
    color: $red;
}

.text-weird-green {
    color: $weird-green;
}

.text-featured {
    font-weight: 600;
    font-size: 13px;
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: 15px;
}