$white: #ffffff;
$white-100: #f9f9f9;
$white-200: #ecebe9;
$gray: #b2b2b2;
$gray-100: #5e5e5e;
$gray-200: #303030;
$brown: #cfb995; // $brown-lightest
$brown-100: #d0ba90; 
$red: #ff5b5b; 
$weird-green: #57e690; 
$pastel-orange: #ff955b; 
$blue: #57dbe6; 
$pale-orange: #ffbe5b; 
$kiwi-green: #8fe360; 
$light-gold: #ffdf5b; 
$transparent: transparent; 
